h1{
    text-align: center;
    color:forestgreen
}
h3{
    text-align: center;
    color: red;
}
h2{
    text-align: center;
    color: blue;
}
#btn{
    background-color: aqua;
    display: flex;
    margin-top: 50px;
}
body{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
    
}